name: deploy-book
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install -U pip
          pip install jupyter-book

      - name: Debug tree (útil si algo falla)
        run: ls -la && echo "---" && cat _toc.yml || true

      - name: Build the book
        run: jupyter-book build .
        # si tu libro está en subcarpeta, añade:
        # working-directory: JBOOKS/Project3DL2

      - name: Ensure no Jekyll
        run: touch _build/html/.nojekyll
        # working-directory: JBOOKS/Project3DL2 (si aplica)

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: _build/html
        # working-directory: JBOOKS/Project3DL2 (si aplica)

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
